

.active{
  font-weight: bold;
  transform: scale(1.1);
}
  .navbar {
    margin-top: -55px;
    width: 100%;
    position: fixed;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
  }

  .nav-item {
    padding: 5px 15px;
  }

  .main {
    margin-top: 55px;
  }




/* landing */

.main .landing{
  height:90vh;
    overflow: hidden;
    z-index: 2;

}

  .landing::before{
    content:'';
    height: 100vh;
    width: 100%;
    padding: 0;
    position: absolute;
    background-image: url(event.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
    filter: blur(8px);
    transition: all 1000ms;
}

  .landing:hover::before{
    filter: blur(0px);
  }
  .countdown{
    transition: all 1500ms;
  }
 .landing:hover .countdown{
  filter: blur(2px);
 }

 .landing:hover .content h1{
  filter: blur(3px);
 }

 .content h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4.8rem;
  letter-spacing: 6px;
  position: absolute;
   top: 25%;
   left: 50%;
   transform: translateX(-50%);
   transition: all 1500ms;
 }

 @media (max-width: 767px) {
  .content h1{
     top: 40%;
    }    
 }


 /* about */


 .about{
   margin-top:60px; 
   background: #fff;
  padding-top: 70px;
  text-align: center;
  padding-bottom: 70px;
 }

.logo-box{
  /* box-sizing: border-box; */

  /* border: 15px solid rgba(0,0,0,0); */
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.logo{
  border-radius: 10px;

  box-sizing: border-box;
  /* border: 5px solid #fff; */
  overflow: hidden;
}

.logo img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.about-details{
  padding-top: 60px;

}

.about h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  letter-spacing: 6px;
}


/* event */

  .event{
    padding-top: 70px;
    text-align: center;

    background: #bbbbbb;
  }

  .event span{
    padding: 10px;
    font-size: 22px;
    background: #fff;
    margin: 4px;

  }
  @media (max-width: 767px) {
    .event span{
      padding: 10px;
      font-size: 14px;
      background: #fff;
      margin: 4px;
    } 
  }

.eventpart{
  margin-top: 60px;
}
  .hide{
    display: none;
  }
  .show{
    display: block;
  }
  #tech , #non-tech, #workshop{
    /* height: auto; */
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .eblock{
    background:#cccccc;
    border-radius: 10px;
    padding: 30px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .image-box{
    box-sizing: border-box;
    border: 15px solid rgba(0,0,0,0.05);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  .image{
    border-radius: 10px;

    box-sizing: border-box;
    border: 5px solid #292c33;
    overflow: hidden;
  }

  .image img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

/* gallry */

.gallary h1{
  text-align: center;
  font-size: 4rem;
  letter-spacing: 6px;
  /* margin-top: 20px */
  padding-top: 60px;
  padding-bottom: 30px;
}
.gallary-box{
  max-width: 600px;
  /* margin: 2px; */
  border-radius: 5px;
}
.col-md-3{
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;

}
.gallary-image{
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.gallary-image img{
  max-width: 100%;
  height:auto;
  vertical-align: middle;
}
.col-md-3{
  height:177px;
}

 /* team  */


.prx{
  height:100vh;
}

.team{
  text-align: center;
  height: 560px;
  /* filter:blur(10px); */
  
}

.team h1{
 padding-top: 30px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  letter-spacing: 5;
  color:#fff;
  /* margin-bottom: 60px; */
}
.team img{
  width:200px;
  height: 200px;
}